@page
@model SupermarketWEB.Pages.Providers.CreateModel
@{
    ViewData["Title"] = "Create Provider";
}

<h1>Create Provider</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="Provider.DocumentNumber" class="control-label"></label>
                <input asp-for="Provider.DocumentNumber" class="form-control" />
                <span asp-validation-for="Provider.DocumentNumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Provider.FirstName" class="control-label"></label>
                <input asp-for="Provider.FirstName" class="form-control" />
                <span asp-validation-for="Provider.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Provider.LastName" class="control-label"></label>
                <input asp-for="Provider.LastName" class="form-control" />
                <span asp-validation-for="Provider.LastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Provider.Phone" class="control-label"></label>
                <input asp-for="Provider.Phone" class="form-control" />
                <span asp-validation-for="Provider.Phone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Provider.Address" class="control-label"></label>
                <input asp-for="Provider.Address" class="form-control" />
                <span asp-validation-for="Provider.Address" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Provider.Email" class="control-label"></label>
                <input asp-for="Provider.Email" class="form-control" />
                <span asp-validation-for="Provider.Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
