@page
@model SupermarketWEB.Pages.Invoices.IndexModel
@{
    ViewData["Title"] = "Invoices";
}

<h1>Invoices</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice)
        {
            <tr>
                <td>@item.InvoiceNumber</td>
                <td>@item.InvoiceDate.ToShortDateString()</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>